.dataContainer {
  background-image: url('/images/back-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 38% center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20vh;
  box-sizing: border-box;

}

.dataForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: .5rem;
  margin-right: 2rem;
  width: 13rem;
}

.dataForm h3 {
  align-self: center;
  margin-bottom: .3rem;
}

.dataForm input {
  width: 100%;
  height: 2.5rem;
  padding-left: .5rem;
  border-radius: 3px;
  border: none;
}

.dataForm button {
  height: 2.2rem;
  width: 5rem;
  border: none;
  border-radius: 5px;
}

.dataForm input:focus {
  outline: none;
}

.dataNavigation {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  align-items: end;
  margin-top: 5rem;
}

.dataNavigation a {
  text-decoration: none;
  color: blue;
}

/* Tablets */
@media (min-width: 768px) {

  .dataForm {
    width: 30%;
    margin-right: 9rem;
  }

  .dataForm input {
    width: 100%;
    height: 30px;
  }

  .dataNavigation {
    margin-right: 9rem;
  }

}

/* Laptops */
@media (min-width: 1024px) {
  .dataForm {
    width: 30%;
    margin-right: 15rem;
  }

  .dataNavigation {
    margin-top: 8rem;
    margin-right: 15rem;
  }

}

/* Monitores grandes */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Telas muito grandes */
@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}