* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.background-blur {
  position: fixed;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: 0;
}

.grid-container-movies {
  position: relative;
  z-index: 1;
  display: grid;
  height: 100svh;
  grid-template-columns: 1fr;
  grid-template-rows: 30svh 42svh 28svh;
}

.section-movies {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-movies {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 0.2em;
  border: 1px solid gray;
  margin: .5rem;
  padding: .5rem;
}

.lyrics-box {
  color: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.lyrics-box p {
  line-height: 210%;
}

.keyboard-movies {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0 .1rem;

}

.section-movies iframe {
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}

.dev-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 8px;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
}

.lyrics-input {
  width: 7vw;
  margin: 0 5px;
  outline: none;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 0.1rem;
  text-align: center;
  background-color: transparent;
  border-radius: 0.25rem;
  color: white;
}

.correct-word {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.buttons-movies {
  display: none;
}

.synopsis-box {
  line-height: 180%;
  text-align: center;
  color: rgb(240, 238, 238);
  overflow-y: scroll;
  padding: 1.5rem .5rem;
  box-sizing: border-box;
  max-height: 220px;
}

.input-subtitle {
  background-color: rgb(240, 238, 238);
  width: 90px;
  height: 25px;
  border-radius: .2rem;
  outline: none;
  box-shadow: none;
  border: none;

  text-align: center;
}

.input-subtitle:focus {
  background-color: grey;
}

.input-subtitle.input-correct {
  background-color: rgb(23, 143, 23);
  color: white;
}

.input-subtitle.input-wrong {
  background-color: red;
}

.word-bank {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 30px;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.word-chip {
  color: white;
  height: 30px;
  text-align: center;
}

.word-used {
  color: rgb(124, 124, 127);
  text-decoration: line-through;
}

/* Tablets */
@media (min-width: 768px) {

  .section-movies {
    padding: 0;
    margin: 0;
  }

  .main-movies {
    margin: 0 2rem;
    padding: .5rem;
  }

  .section-movies iframe {
    border-radius: 0.25rem;
    height: 100%;
    width: 30%;
    padding: .5rem;
  }

  .keyboard-movies {
    padding: 0 2rem;
  }

}

/* Laptops */
@media (min-width: 1024px) {

  .grid-container-movies {
    grid-template-rows: 50vh 50vh;
  }

  .section-movies {
    padding: .5rem;
    gap: 0;
    margin: 0;
  }

  .section-movies iframe {
    border-radius: 0.25rem;
    height: 100%;
    width: 30%;
    padding: .5rem;
  }

  .keyboard-movies {
    display: none;
  }

  .buttons-movies {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
  }

  .buttons-movies button {
    border: none;
    border-radius: .5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
  }

  .main-movies {
    padding: .5rem 1rem;
    border: none;
    border-top: 1px solid grey;
  }

  .synopsis-box {
    line-height: 180%;
    text-align: center;
    color: rgb(240, 238, 238);
    overflow-y: auto;
    padding: 1.5rem .5rem;
    box-sizing: border-box;
    max-height: 220px;
  }


  .lyrics-box p {
    line-height: 250%;
  }

  .word-bank {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    height: 100%;
    width: 100%;
    padding: 2rem 4rem 0 4rem;
    align-content: center;
  }

}